[Desktop Entry]
Name=Desktop Change OSD
Comment=An on screen display indicating the desktop change

Icon=preferences-system-windows-script-test

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=false

X-KDE-PluginInfo-Author=Bruno Wowk
X-KDE-PluginInfo-Email=bruno.wowk@gmail.com
X-KDE-PluginInfo-Name=desktopchangethumbnails
X-KDE-PluginInfo-Version=0.3

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
